{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "Default": "YourDatabaseConnectionStringHere"
  },
  "JwtSettings": {
    "SigningKey": "YourSecretSigningKeyHere",
    "Issuer": "IwMetrics",
    "Audiences": [ "SwaggerUI" ]
  }

}
